<?php use Phalcon\Tag ?>
<h2>Hello</h2>
<p><?php echo $this->flash->output() ?></p>

<?php echo Tag::form('login/attempt') ?>
<table>
    <tr>
        <td><label for="uid">NSHE ID:</label></td><td><?php echo Tag::textField('uid') ?></td>
    </tr>
    <tr>
        <td><label for="password">Password: </label></td><td><?php echo Tag::passwordField('password') ?></td>
    </tr>
    <?php if ($captcha == true): ?>
    <tr>
        <td><?php echo $this->captcha->displayHTML('clean'); ?></td>
    </tr>
    <?php endif; ?>
    <tr>
        <td></td><td><?php echo Tag::submitButton('Submit') ?></td>
    </tr>
</table>

<br/>
Load Time: <?php echo microtime(true) - PLATFORM_START ?> seconds.
</form>